<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Boekhouding Chris Herman</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/producten">Producten</a></li>
        <li routerLinkActive="active"><a routerLink="/uren">Uren</a></li>
        <li><a >Maak factuur</a></li>
      </ul>
    </div>
  </div>
</nav>
